.animation {
    position: relative;
    height: 30px;
    width: 50px;
}
.animation span {
    position: absolute;
    background-color: #000;
    width: 50px;
    height: 10px;
    transition: .6s .6s top, .6s .6s bottom, .6s transform;
}
.animation:hover span {
    transition: .6s top, .6s bottom, .6s .6s transform;
}
.animation span:nth-of-type(1) {
    top: 0;
}
.animation span:nth-of-type(2) {
    bottom: 0;
}
.animation:hover span:nth-of-type(1) {
    top: 10px;
    transform: rotate(45deg);
}
.animation:hover span:nth-of-type(2) {
    bottom: 10px;
    transform: rotate(-45deg);
}